[Unit]
Description=Jupyter Notebook Server

[Service]
Type=simple
PIDFile=/run/jupyter.pid
# ExecStart=/usr/bin/jupyter-notebook --config=/home/pi/.jupyter/jupyter_notebook_config.py
ExecStart=/home/bernardo/.local/pip-venv/bin/jupyter notebook --config=/home/bernardo/.jupyter/jupyter_notebook_config.py

User=bernardo
Group=jupyter
WorkingDirectory=/home/bernardo/git-repos/ard-rasp-ist/code/python/jupyter

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
